*{
margin: 0;
padding: 0;
}
.container{
  width: 1240px;
  margin: 0 auto;
}
body{
    background-color: grey;
}
/* корзина */
.header{
  background: darkgray;
}
.shopping-list{
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  padding: 15px;
}
.shopping-list__item{
  margin: 10px;
  list-style-type: none;
  display: flex;
}
.shopping-list__item li{
  margin-right: 20px;
}
.cart{
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
#checkout{
  position: relative;
}
.fa-shopping-basket{
  font-size: 30px !important;
 
}
.cart-quantity{
  border-radius: 50%;
  color: white;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 900;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 25%;
  right: -3%;
}

/* каталог */
.catalog{
display: flex;
justify-content: center;
align-items: center;
position: relative;
}
.catalog__item{
display: flex;
flex-direction: column;
align-items: center;
border: solid black 1px;
border-radius: 5%;
background: wheat;
}
.catalog__title{
  color: brown;
  margin: 2px 0;
  text-transform: capitalize;
  order: -1;
}
.catalog__image{
  width: 150px;
  height: 150px;
  margin-bottom: 5px;
  border-radius:5%;
  order: -1;
}
.catalog__button{
  background-color: brown;
  text-align: center;
  border:none;
  padding: 5px 10px;
  margin: 10px 0;
  border-radius: 5%;
  color: white;
}
select{
 position: absolute;
 top: 10%;
 left: 48%;
}



/* карусель */

.carousel{
  margin-top: 200px;
  width: 456px;
  height: 250px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.slider__prew,
.slider__next{
  position: absolute;
  top: 40%;
}
.slider__prew{
  left: 30%;
}
.slider__next{
  right: 30%;
}


